*{
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  .header {
    padding: 10px 0;
    color: white;
}

.nav-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-navbar img {
    height: 50px;
}

.ul-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.ul-nav li {
    margin: 0 10px;
}

.ul-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.ul-nav a:hover {
    color: forestgreen;
}
  
  .data-alumni {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    margin: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Tambahan untuk membuat tabel lebih responsif */
  table {
    overflow-x: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .data-alumni {
      width: 90%;
    }
  }

  .footer {
    background-color: #333;
    color: white;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}