body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    padding: 10px 0;
    color: white;
}

.nav-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-navbar img {
    height: 50px;
}

.ul-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20;
}

.ul-nav li {
    margin: 0 10px;
}

.ul-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.ul-nav a:hover {
    color: forestgreen;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-info {
    text-align: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 1rem 0;
}

.contact-info a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.2rem;
}

.contact-info a:hover {
    color: #388E3C;
}

/* footer */
.footer {
    background-color: #333;
    color: white;
    margin-top:200px;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}

/* Hover Effects */
.footer-link:hover .footer-icon {
    filter: brightness(1.2);
}

.footer-link:hover span {
    color: #ddd;
}