*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    padding: 10px 0;
    color: white;
}

.nav-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-navbar img {
    height: 50px;
}

.ul-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.ul-nav li {
    margin: 0 10px;
}

.ul-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.ul-nav a:hover {
    color: forestgreen;
}

/* navbar end */

.container-b{
    background-color: white;
}
.text-u>h1{
    background-color: #f4f4f4;
    text-align: center;
    padding:40px;
}
.image>img{
    margin-left: 67px;
    padding: 100px;
}

.image>p{
    font-size: medium;
    margin: 30px;
}

.content>img{
    margin-left: 476px;
    padding: 30px;
    height: 600px;
}

.content>p{
    font-size: medium;
    margin: 30px;
}

/* footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}

/* Hover Effects */
.footer-link:hover .footer-icon {
    filter: brightness(1.2);
}

.footer-link:hover span {
    color: #ddd;
}